body {
    margin: 0;
    min-height: 100vh;
    background-color: #23252C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.card-container {
    background-color: #FFFFFF;
    width: 350px;
    height: 850px;
    border-radius: 12px;
    text-align: center;
}

/* PersonalInfo component */
main > img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.email-btn {
    padding: 7px 20px;
    margin-right: 17px;
    border-radius: 7px;
    background-color: white;
    border: #D5D4D8 solid 1px;
}

.linkedIn-btn {
    padding: 6px 20px;
    border-radius: 7px;
    background-color: #297FE5;
    color: white;
    border-color: transparent;
}

.email-icon {
    vertical-align: middle;
    padding-right: 7px;
}

.linkedIn-icon {
    vertical-align: middle;
    padding-right: 7px;
}

h1 {
    color: #2B283A;
    margin-bottom: -20px;
}

h5 {
    color: #F47D27;
}

/* About componet */
.aboutMe-header {
    text-align: left;
    margin-left: 20px;
    margin-bottom: -8px;
    color: #2B283A;
}

.aboutMe {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #4A4E74;
    font-size: small;
}

.aboutMe-section {
    margin-top: 30px;
}

/* Interests component */
.interests-header {
    text-align: left;
    margin-left: 20px;
    margin-bottom: -8px;
    color: #2B283A;

}

.interests {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #4A4E74;
    font-size: small;
    margin-bottom: 50px;
}

/* Footer component */
footer {
    background-color: #D5D4D8;
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

a {
    padding: 20px;
}

a:link {
    color: #918E9B;
}

a:visited {
    color: #ebeaf0;
}

a:hover {
    color: rgb(33, 33, 110);
}

a:active {
    color: rgb(216, 32, 32);
}